#scoreboard{
text-align: center;
width: 385px;
height: auto;
background: #1B244A;
 margin-left: auto;
  margin-right: auto;
  font-family: myFirstFont;
}

#header{

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;
vertical-align: middle;

color: #EEEEEE;
width: 192.5 px;
}



#box{
    background: #080001;
border-radius: 5px;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
/* or 141% */

text-align: center;

color: #F94F6D;

}

#button{
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;
font-family: myFirstFont;
color: #9AABD8;
justify-content: center;
}

#button1{
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;
color: #9AABD8;
justify-content: center;
}

@font-face {
    font-family: myFirstFont;
    src: url(scoreboard.ttf);
  }